*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #121212;
    font-family: 'Roboto Condensed', sans-serif;
}
.cabecalho{
    width: 100%;
    max-width: 2000px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-top: 60px;
}
.container{
    width: 100%;
    max-width: 2000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    margin-bottom: 50px;

}
.profile_confirm{
    margin-bottom: 60px;
}
.profile_confirm h1{
    color:#ffffff
}
.profile_selection{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}
.profile_id{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.profile_img{
    width: 163px;
    height: 163px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1919;
    border-radius: 6%;
    margin: 10px;
}
.profile_img:hover{
    border: 2px solid white;
    transition: 0.1s ease;
}
.profile-img{
   object-fit: cover;
   border-radius: 6%;
}
.Profile_name{
    margin-bottom: 60px;
    color: #ffffff;
}
.button{
    width: 200px;
    height: 40px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #121212;
    border: #ffffff 1px solid;
    font-size: 15px;
    font-weight: 700;
}
.button:hover{
    background-color: azure;
    border: solid 3px azure;
    color: #1a1919;
    font-size: 15px;
    font-weight: 700;
    transition: 0.5s ease;
}