*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.cabecalho{
    width: 100%;
    max-width: 2000px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-top: 60px;
}
.container{
    width: 100%;
    max-width: 2000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    margin-bottom: 50px;

}
.profile_confirm{
    margin-bottom: 60px;
}
.profile_confirm h1{
    color:#ffffff
}
.profile_selection{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}
.profile_id{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.profile_img{
    width: 160px;
    height: 160px;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    border: solid;
    background-color: #1a1919;

}
.Profile_name{
    margin-top: 35px;
    margin-bottom: 60px;
    color: #ffffff;
}
.mananger_profiles{
    
}
.button{
    width: 160px;
    height: 40px;
    border-radius: 8px;
    color: #ffffff;
    background-color: black;
}